.sidebar {
  width: 22%;
  min-width: 300px;
}
.sidebar__content {
  position: fixed;
  padding: 24px;
  flex: 1;
  border-radius: 8px;
  min-width: 300px;
  align-self: stretch;
  background-color: #fff;
  min-height: calc(100vh - 221px);
  max-height: calc(100vh - 132px);
  /* height: auto; */
}

.sidebar__title {
  color: var(--text-primary, #1B1F23);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 20px;
}

.filter {
  margin-bottom: auto;
}